<!DOCTYPE html>
<html>
<head>
  <title>Rare Pepes</title>

  <meta property="og:url"                content="http://rarepepes.heroku.com/" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Dank Rare Pepes" />
  <meta property="og:description"        content="Get your dank Rare Pepes memes here ;)" />
  <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
