<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= content_for(:title) ? "#{yield(:title)} | " : "" %>Rare Pepes</title>

  <% if content_for? :open_graph %>
    <%= yield :open_graph %>
  <% else %>
    <meta property="og:url"                content="http://rarepep.es/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Dank Rare Pepes" />
    <meta property="og:description"        content="Get your dank Rare Pepes memes here ;)" />
    <meta property="og:image"              content="<%= image_path('pepe.png') %>" />
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>

<div class="container">
  <% if notice %><p class="alert alert-warning"><%= notice %></p><% end %>
  <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
